*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/debug
/captures
.externalNativeBuild

.gradle/
.idea/
null/
*/build/
.idea/**
.gradle/**
captures/**
build/**
tools/encoder/build
tools/encoder/build/**
local.properties
**/*.iml
**/*.orig
**/*.hsprof
**/*.hprof
*.hsprof
*.hprof